<td>{{task.internalNumber}}</td>
<td>{{task.title}}</td>
<td>{{task.description}}</td>
<td>{{task.createdAt}}</td>
<td>{{task.modifiedAt}}</td>
<td>{{task.status}}</td>
<td>{{task.priority}}</td>
<td>{{task.creator}}</td>
<td>{{task.editor}}</td>
